.userQuote {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .userQuote h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .inputButton {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .addQuote-Search-Btns{
    display:flex;
    gap:20px
  }
  
  .inputButton input {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  #AddquoteBtn{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  #searchBtn{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  #AddquoteBtn:hover {
    background-color: #0056b3;
  }
  
  #searchBtn:hover {
    background-color: #c82333;
  }
  
  .quote-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .quote-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .quote-item:last-child {
    border-bottom: none;
  }
  
  .delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  
  .delete-btn:focus {
    outline: none;
  }
  
  .no-quotes {
    text-align: center;
    color: #666;
    font-style: italic;
    padding: 10px;
  }
  
  .showAllBtn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .showAllBtn:hover {
    background-color: #0056b3;
  }
  