/* Container styles */
*{
 margin :0;
    padding:0;
    box-sizing :border-box;
    text-transform :capitalize;
    font-family: "Poppins", sans-serif;
}
.container {
    /* max-width: 80%; */
    margin:auto;
    padding: 20px;
    /* border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  @media screen  and (max-width: 600px){
:root{
  font-size: 10px;
}
.navbar{
  padding :0 ;
}
.signup-link{
  font-size: 1.5rem;
} 
.loginHeading{
  font-size: 2rem;
  margin:0 0 30px 0 
}
#AddquoteBtn {
  padding: 4px 10px;
  font-size: 1rem;
}
#searchBtn {
  padding: 4px 10px;   
   font-size: 1rem;
}
.Navbar-H1 {font-size: 1rem;}
.btn-div{
  gap:0;
}
.linkSignInBtn {
padding :5% 10%;
  }
 .linkSignUpBtn{
padding :5% 10%;

 } }
    